-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: u552541920_futbol
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `captain_drafts`
--

DROP TABLE IF EXISTS `captain_drafts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `captain_drafts` (
  `match_id` int(10) unsigned NOT NULL,
  `captain1_player_id` int(10) unsigned NOT NULL,
  `captain2_player_id` int(10) unsigned NOT NULL,
  `captain3_player_id` int(10) unsigned DEFAULT NULL,
  `captain4_player_id` int(10) unsigned DEFAULT NULL,
  `captain1_token` varchar(64) NOT NULL DEFAULT '',
  `captain2_token` varchar(64) NOT NULL DEFAULT '',
  `captain3_token` varchar(64) DEFAULT NULL,
  `captain4_token` varchar(64) DEFAULT NULL,
  `current_team` tinyint(3) unsigned DEFAULT 1,
  `status` enum('active','completed') NOT NULL DEFAULT 'active',
  `started_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `turn_version` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`match_id`),
  KEY `fk_captain_drafts_captain1` (`captain1_player_id`),
  KEY `fk_captain_drafts_captain2` (`captain2_player_id`),
  CONSTRAINT `fk_captain_drafts_captain1` FOREIGN KEY (`captain1_player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_captain_drafts_captain2` FOREIGN KEY (`captain2_player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_captain_drafts_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `captain_drafts`
--

LOCK TABLES `captain_drafts` WRITE;
/*!40000 ALTER TABLE `captain_drafts` DISABLE KEYS */;
INSERT INTO `captain_drafts` VALUES (28,14,6,NULL,NULL,'2278500f7ebe04d701278644efaaa663','7fc2c2a29b2f5f4799eab7ca210ba4e2',NULL,NULL,NULL,'completed','2026-05-02 00:03:00','2026-05-02 00:07:22',0,'2026-05-02 03:03:00','2026-05-02 03:07:22');
/*!40000 ALTER TABLE `captain_drafts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `captain_picks`
--

DROP TABLE IF EXISTS `captain_picks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `captain_picks` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `team_number` tinyint(3) unsigned NOT NULL,
  `picked_by_player_id` int(10) unsigned NOT NULL,
  `pick_order` smallint(5) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_captain_pick_player` (`match_id`,`player_id`),
  UNIQUE KEY `uniq_captain_pick_order` (`match_id`,`pick_order`),
  KEY `idx_captain_pick_match_team` (`match_id`,`team_number`),
  KEY `fk_captain_picks_player` (`player_id`),
  KEY `fk_captain_picks_picker` (`picked_by_player_id`),
  CONSTRAINT `fk_captain_picks_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_captain_picks_picker` FOREIGN KEY (`picked_by_player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_captain_picks_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=94 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `captain_picks`
--

LOCK TABLES `captain_picks` WRITE;
/*!40000 ALTER TABLE `captain_picks` DISABLE KEYS */;
/*!40000 ALTER TABLE `captain_picks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `match_awards`
--

DROP TABLE IF EXISTS `match_awards`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `match_awards` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `award_code` varchar(40) NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_match_award` (`match_id`,`award_code`),
  KEY `idx_awards_player` (`player_id`,`award_code`),
  CONSTRAINT `fk_match_awards_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_match_awards_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=109 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_awards`
--

LOCK TABLES `match_awards` WRITE;
/*!40000 ALTER TABLE `match_awards` DISABLE KEYS */;
/*!40000 ALTER TABLE `match_awards` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `match_players`
--

DROP TABLE IF EXISTS `match_players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `match_players` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `team_number` tinyint(3) unsigned DEFAULT NULL,
  `assigned_position` enum('ARQ','DEF','MED','DEL') DEFAULT NULL,
  `is_goalkeeper` tinyint(1) NOT NULL DEFAULT 0,
  `lineup_order` smallint(5) unsigned DEFAULT NULL,
  `formation_line_order` tinyint(3) unsigned DEFAULT NULL,
  `availability_status` enum('convocado','confirmado','baja') NOT NULL DEFAULT 'convocado',
  `goals` smallint(5) unsigned NOT NULL DEFAULT 0,
  `rating` decimal(3,1) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_match_player` (`match_id`,`player_id`),
  KEY `idx_match_team` (`match_id`,`team_number`),
  KEY `idx_player_stats` (`player_id`,`goals`,`rating`),
  KEY `idx_match_lineup` (`match_id`,`team_number`,`assigned_position`,`lineup_order`),
  KEY `idx_match_availability` (`match_id`,`availability_status`),
  CONSTRAINT `fk_match_players_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_match_players_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=497 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_players`
--

LOCK TABLES `match_players` WRITE;
/*!40000 ALTER TABLE `match_players` DISABLE KEYS */;
/*!40000 ALTER TABLE `match_players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `match_round_robin_results`
--

DROP TABLE IF EXISTS `match_round_robin_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `match_round_robin_results` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `home_team_number` tinyint(3) unsigned NOT NULL,
  `away_team_number` tinyint(3) unsigned NOT NULL,
  `leg` tinyint(3) unsigned NOT NULL,
  `home_goals` smallint(5) unsigned DEFAULT NULL,
  `away_goals` smallint(5) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_round_robin_fixture` (`match_id`,`home_team_number`,`away_team_number`,`leg`),
  KEY `idx_round_robin_match` (`match_id`),
  CONSTRAINT `fk_round_robin_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=559 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_round_robin_results`
--

LOCK TABLES `match_round_robin_results` WRITE;
/*!40000 ALTER TABLE `match_round_robin_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `match_round_robin_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `match_teams`
--

DROP TABLE IF EXISTS `match_teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `match_teams` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `team_number` tinyint(3) unsigned NOT NULL,
  `team_name` varchar(80) DEFAULT NULL,
  `captain_player_id` int(10) unsigned DEFAULT NULL,
  `total_skill` decimal(5,1) NOT NULL DEFAULT 0.0,
  `formation_name` varchar(80) DEFAULT NULL,
  `formation_data` text DEFAULT NULL,
  `color_name` varchar(40) DEFAULT NULL,
  `goals` smallint(5) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_match_team` (`match_id`,`team_number`),
  KEY `idx_match_teams_captain` (`captain_player_id`),
  CONSTRAINT `fk_match_teams_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `match_teams`
--

LOCK TABLES `match_teams` WRITE;
/*!40000 ALTER TABLE `match_teams` DISABLE KEYS */;
/*!40000 ALTER TABLE `match_teams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matches`
--

DROP TABLE IF EXISTS `matches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matches` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(120) DEFAULT NULL,
  `match_date` datetime NOT NULL,
  `num_teams` tinyint(3) unsigned NOT NULL DEFAULT 2,
  `players_per_team` tinyint(3) unsigned NOT NULL DEFAULT 9,
  `max_diff` decimal(4,1) NOT NULL DEFAULT 2.0,
  `status` enum('programado','sorteado','finalizado') NOT NULL DEFAULT 'programado',
  `draw_mode` enum('none','random','captains','manual') NOT NULL DEFAULT 'none',
  `draw_started_at` datetime DEFAULT NULL,
  `draw_completed_at` datetime DEFAULT NULL,
  `finalized_at` datetime DEFAULT NULL,
  `formation_edit_deadline` datetime DEFAULT NULL,
  `public_token` varchar(64) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `result_notes` text DEFAULT NULL,
  `round_robin_legs` tinyint(3) unsigned NOT NULL DEFAULT 2,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_matches_public_token` (`public_token`),
  KEY `idx_matches_date` (`match_date`),
  KEY `idx_matches_status` (`status`),
  KEY `idx_matches_draw_mode` (`draw_mode`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matches`
--

LOCK TABLES `matches` WRITE;
/*!40000 ALTER TABLE `matches` DISABLE KEYS */;
/*!40000 ALTER TABLE `matches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `players` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL,
  `positions` varchar(20) NOT NULL,
  `pace` enum('rapido','lento') NOT NULL DEFAULT 'rapido',
  `skill` decimal(3,1) NOT NULL DEFAULT 1.0,
  `technique` decimal(3,1) DEFAULT NULL,
  `rhythm` decimal(3,1) DEFAULT NULL,
  `defense_physical` decimal(3,1) DEFAULT NULL,
  `attack` decimal(3,1) DEFAULT NULL,
  `teamwork` decimal(3,1) DEFAULT NULL,
  `goalkeeper_skill` decimal(3,1) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_players_name` (`name`),
  KEY `idx_players_active` (`active`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'u552541920_futbol'
--

--
-- Dumping routines for database 'u552541920_futbol'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-05 13:18:32
