-- GOODFELLAS full database update
-- Generated: 2026-05-11T01:46:39-03:00
-- Database: u552541920_futbol
SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";
SET FOREIGN_KEY_CHECKS = 0;
SET NAMES utf8mb4;

-- --------------------------------------------------------
-- Table structure for `app_settings`
DROP TABLE IF EXISTS `app_settings`;
CREATE TABLE `app_settings` (
  `setting_key` varchar(80) NOT NULL,
  `setting_value` varchar(255) NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `app_settings`
INSERT INTO `app_settings` (`setting_key`, `setting_value`, `updated_at`) VALUES
('allow_redraw_default', '1', '2026-05-09 00:08:24'),
('multi_draw_count_default', '3', '2026-05-09 00:08:24'),
('multi_draw_lock_minutes_default', '60', '2026-05-09 00:08:24'),
('redraw_limit_default', '3', '2026-05-09 00:08:24');

-- --------------------------------------------------------
-- Table structure for `captain_drafts`
DROP TABLE IF EXISTS `captain_drafts`;
CREATE TABLE `captain_drafts` (
  `match_id` int(10) unsigned NOT NULL,
  `captain1_player_id` int(10) unsigned NOT NULL,
  `captain2_player_id` int(10) unsigned NOT NULL,
  `captain3_player_id` int(10) unsigned DEFAULT NULL,
  `captain4_player_id` int(10) unsigned DEFAULT NULL,
  `captain1_token` varchar(64) NOT NULL DEFAULT '',
  `captain2_token` varchar(64) NOT NULL DEFAULT '',
  `captain3_token` varchar(64) DEFAULT NULL,
  `captain4_token` varchar(64) DEFAULT NULL,
  `current_team` tinyint(3) unsigned DEFAULT 1,
  `status` enum('active','completed') NOT NULL DEFAULT 'active',
  `started_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `turn_version` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`match_id`),
  KEY `fk_captain_drafts_captain1` (`captain1_player_id`),
  KEY `fk_captain_drafts_captain2` (`captain2_player_id`),
  CONSTRAINT `fk_captain_drafts_captain1` FOREIGN KEY (`captain1_player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_captain_drafts_captain2` FOREIGN KEY (`captain2_player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_captain_drafts_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `captain_drafts`

-- --------------------------------------------------------
-- Table structure for `captain_picks`
DROP TABLE IF EXISTS `captain_picks`;
CREATE TABLE `captain_picks` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `team_number` tinyint(3) unsigned NOT NULL,
  `picked_by_player_id` int(10) unsigned NOT NULL,
  `pick_order` smallint(5) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_captain_pick_player` (`match_id`,`player_id`),
  UNIQUE KEY `uniq_captain_pick_order` (`match_id`,`pick_order`),
  KEY `idx_captain_pick_match_team` (`match_id`,`team_number`),
  KEY `fk_captain_picks_player` (`player_id`),
  KEY `fk_captain_picks_picker` (`picked_by_player_id`),
  CONSTRAINT `fk_captain_picks_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_captain_picks_picker` FOREIGN KEY (`picked_by_player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_captain_picks_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=130 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- No data for `captain_picks`

-- --------------------------------------------------------
-- Table structure for `directive_members`
DROP TABLE IF EXISTS `directive_members`;
CREATE TABLE `directive_members` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `site_user_id` int(10) unsigned DEFAULT NULL,
  `name` varchar(120) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `password_needs_setup` tinyint(1) NOT NULL DEFAULT 0,
  `setup_code_hash` varchar(255) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_directive_member_name` (`name`),
  UNIQUE KEY `uniq_directive_member_site_user` (`site_user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `directive_members`

-- --------------------------------------------------------
-- Table structure for `matches`
DROP TABLE IF EXISTS `matches`;
CREATE TABLE `matches` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(120) DEFAULT NULL,
  `rental_court_id` int(10) unsigned DEFAULT NULL,
  `match_date` datetime NOT NULL,
  `num_teams` tinyint(3) unsigned NOT NULL DEFAULT 2,
  `players_per_team` tinyint(3) unsigned NOT NULL DEFAULT 9,
  `max_diff` decimal(4,1) NOT NULL DEFAULT 2.0,
  `allow_redraw` tinyint(1) NOT NULL DEFAULT 1,
  `redraw_limit` tinyint(3) unsigned NOT NULL DEFAULT 3,
  `redraw_count` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `multi_draw_count` tinyint(3) unsigned NOT NULL DEFAULT 3,
  `multi_draw_lock_minutes` smallint(5) unsigned NOT NULL DEFAULT 60,
  `multi_draw_winner_option_id` int(10) unsigned DEFAULT NULL,
  `status` enum('programado','sorteado','finalizado') NOT NULL DEFAULT 'programado',
  `draw_mode` enum('none','random','captains','manual') NOT NULL DEFAULT 'none',
  `draw_started_at` datetime DEFAULT NULL,
  `draw_completed_at` datetime DEFAULT NULL,
  `finalized_at` datetime DEFAULT NULL,
  `formation_edit_deadline` datetime DEFAULT NULL,
  `public_token` varchar(64) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `result_notes` text DEFAULT NULL,
  `round_robin_legs` tinyint(3) unsigned NOT NULL DEFAULT 2,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_matches_public_token` (`public_token`),
  KEY `idx_matches_date` (`match_date`),
  KEY `idx_matches_status` (`status`),
  KEY `idx_matches_draw_mode` (`draw_mode`)
) ENGINE=InnoDB AUTO_INCREMENT=176 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `matches`

-- --------------------------------------------------------
-- Table structure for `match_awards`
DROP TABLE IF EXISTS `match_awards`;
CREATE TABLE `match_awards` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `award_code` varchar(40) NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_match_award` (`match_id`,`award_code`),
  KEY `idx_awards_player` (`player_id`,`award_code`),
  CONSTRAINT `fk_match_awards_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_match_awards_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1086 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `match_awards`

-- --------------------------------------------------------
-- Table structure for `match_director_award_votes`
DROP TABLE IF EXISTS `match_director_award_votes`;
CREATE TABLE `match_director_award_votes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `voter_id` int(10) unsigned NOT NULL,
  `award_code` varchar(40) NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_director_award_vote` (`match_id`,`voter_id`,`award_code`),
  KEY `idx_director_award_match_code` (`match_id`,`award_code`),
  KEY `fk_director_award_voter` (`voter_id`),
  KEY `fk_director_award_player` (`player_id`),
  CONSTRAINT `fk_director_award_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_director_award_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_director_award_voter` FOREIGN KEY (`voter_id`) REFERENCES `directive_members` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- No data for `match_director_award_votes`

-- --------------------------------------------------------
-- Table structure for `match_director_publications`
DROP TABLE IF EXISTS `match_director_publications`;
CREATE TABLE `match_director_publications` (
  `match_id` int(10) unsigned NOT NULL,
  `published_at` datetime NOT NULL,
  `reason` enum('all_voted','deadline','admin') NOT NULL,
  `eligible_voters` smallint(5) unsigned NOT NULL DEFAULT 0,
  `submitted_voters` smallint(5) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`match_id`),
  CONSTRAINT `fk_director_publication_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- No data for `match_director_publications`

-- --------------------------------------------------------
-- Table structure for `match_director_rating_votes`
DROP TABLE IF EXISTS `match_director_rating_votes`;
CREATE TABLE `match_director_rating_votes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `voter_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `rating` decimal(3,1) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_director_rating_vote` (`match_id`,`voter_id`,`player_id`),
  KEY `idx_director_rating_match_player` (`match_id`,`player_id`),
  KEY `fk_director_rating_voter` (`voter_id`),
  KEY `fk_director_rating_player` (`player_id`),
  CONSTRAINT `fk_director_rating_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_director_rating_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_director_rating_voter` FOREIGN KEY (`voter_id`) REFERENCES `directive_members` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- No data for `match_director_rating_votes`

-- --------------------------------------------------------
-- Table structure for `match_director_vote_invites`
DROP TABLE IF EXISTS `match_director_vote_invites`;
CREATE TABLE `match_director_vote_invites` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `voter_member_id` int(10) unsigned NOT NULL,
  `token` varchar(5) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_director_vote_invite_match_player` (`match_id`,`player_id`),
  UNIQUE KEY `uniq_director_vote_invite_token` (`token`),
  KEY `idx_director_vote_invite_match` (`match_id`),
  KEY `fk_director_vote_invite_player` (`player_id`),
  KEY `fk_director_vote_invite_voter` (`voter_member_id`),
  CONSTRAINT `fk_director_vote_invite_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_director_vote_invite_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_director_vote_invite_voter` FOREIGN KEY (`voter_member_id`) REFERENCES `directive_members` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- No data for `match_director_vote_invites`

-- --------------------------------------------------------
-- Table structure for `match_draw_options`
DROP TABLE IF EXISTS `match_draw_options`;
CREATE TABLE `match_draw_options` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `option_number` tinyint(3) unsigned NOT NULL,
  `teams_json` mediumtext NOT NULL,
  `total_diff` decimal(5,2) NOT NULL DEFAULT 0.00,
  `generated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `selected_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_match_draw_option` (`match_id`,`option_number`),
  KEY `idx_match_draw_option_match` (`match_id`),
  CONSTRAINT `fk_match_draw_options_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- No data for `match_draw_options`

-- --------------------------------------------------------
-- Table structure for `match_draw_option_votes`
DROP TABLE IF EXISTS `match_draw_option_votes`;
CREATE TABLE `match_draw_option_votes` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `option_id` int(10) unsigned NOT NULL,
  `user_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_match_draw_vote_user` (`match_id`,`user_id`),
  KEY `idx_match_draw_vote_option` (`option_id`),
  KEY `fk_match_draw_votes_user` (`user_id`),
  KEY `fk_match_draw_votes_player` (`player_id`),
  CONSTRAINT `fk_match_draw_votes_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_match_draw_votes_option` FOREIGN KEY (`option_id`) REFERENCES `match_draw_options` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_match_draw_votes_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_match_draw_votes_user` FOREIGN KEY (`user_id`) REFERENCES `site_users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- No data for `match_draw_option_votes`

-- --------------------------------------------------------
-- Table structure for `match_players`
DROP TABLE IF EXISTS `match_players`;
CREATE TABLE `match_players` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `player_id` int(10) unsigned NOT NULL,
  `team_number` tinyint(3) unsigned DEFAULT NULL,
  `assigned_position` enum('ARQ','DEF','MED','DEL') DEFAULT NULL,
  `is_goalkeeper` tinyint(1) NOT NULL DEFAULT 0,
  `lineup_order` smallint(5) unsigned DEFAULT NULL,
  `formation_line_order` tinyint(3) unsigned DEFAULT NULL,
  `availability_status` enum('convocado','confirmado','baja') NOT NULL DEFAULT 'convocado',
  `goals` smallint(5) unsigned NOT NULL DEFAULT 0,
  `rating` decimal(3,1) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_match_player` (`match_id`,`player_id`),
  KEY `idx_match_team` (`match_id`,`team_number`),
  KEY `idx_player_stats` (`player_id`,`goals`,`rating`),
  KEY `idx_match_lineup` (`match_id`,`team_number`,`assigned_position`,`lineup_order`),
  KEY `idx_match_availability` (`match_id`,`availability_status`),
  CONSTRAINT `fk_match_players_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_match_players_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2840 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `match_players`

-- --------------------------------------------------------
-- Table structure for `match_round_robin_results`
DROP TABLE IF EXISTS `match_round_robin_results`;
CREATE TABLE `match_round_robin_results` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `home_team_number` tinyint(3) unsigned NOT NULL,
  `away_team_number` tinyint(3) unsigned NOT NULL,
  `leg` tinyint(3) unsigned NOT NULL,
  `home_goals` smallint(5) unsigned DEFAULT NULL,
  `away_goals` smallint(5) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_round_robin_fixture` (`match_id`,`home_team_number`,`away_team_number`,`leg`),
  KEY `idx_round_robin_match` (`match_id`),
  CONSTRAINT `fk_round_robin_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=559 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- No data for `match_round_robin_results`

-- --------------------------------------------------------
-- Table structure for `match_teams`
DROP TABLE IF EXISTS `match_teams`;
CREATE TABLE `match_teams` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `match_id` int(10) unsigned NOT NULL,
  `team_number` tinyint(3) unsigned NOT NULL,
  `team_name` varchar(80) DEFAULT NULL,
  `captain_player_id` int(10) unsigned DEFAULT NULL,
  `total_skill` decimal(5,1) NOT NULL DEFAULT 0.0,
  `formation_name` varchar(80) DEFAULT NULL,
  `formation_data` text DEFAULT NULL,
  `color_name` varchar(40) DEFAULT NULL,
  `goals` smallint(5) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_match_team` (`match_id`,`team_number`),
  KEY `idx_match_teams_captain` (`captain_player_id`),
  CONSTRAINT `fk_match_teams_match` FOREIGN KEY (`match_id`) REFERENCES `matches` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=304 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `match_teams`

-- --------------------------------------------------------
-- Table structure for `players`
DROP TABLE IF EXISTS `players`;
CREATE TABLE `players` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL,
  `positions` varchar(20) NOT NULL,
  `pace` enum('rapido','lento') NOT NULL DEFAULT 'rapido',
  `skill` decimal(3,1) NOT NULL DEFAULT 1.0,
  `technique` decimal(3,1) DEFAULT NULL,
  `rhythm` decimal(3,1) DEFAULT NULL,
  `defense_physical` decimal(3,1) DEFAULT NULL,
  `attack` decimal(3,1) DEFAULT NULL,
  `teamwork` decimal(3,1) DEFAULT NULL,
  `mentality` decimal(3,1) NOT NULL DEFAULT 3.0,
  `regularity` decimal(3,1) DEFAULT NULL,
  `goalkeeper_skill` decimal(3,1) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_players_name` (`name`),
  KEY `idx_players_active` (`active`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `players`

-- --------------------------------------------------------
-- Table structure for `rental_courts`
DROP TABLE IF EXISTS `rental_courts`;
CREATE TABLE `rental_courts` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `court_key` varchar(40) NOT NULL,
  `place` varchar(120) NOT NULL,
  `weekday` tinyint(3) unsigned NOT NULL,
  `time_value` time NOT NULL,
  `total_players` tinyint(3) unsigned NOT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_rental_court_key` (`court_key`),
  KEY `idx_rental_court_active` (`active`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `rental_courts`
INSERT INTO `rental_courts` (`id`, `court_key`, `place`, `weekday`, `time_value`, `total_players`, `active`, `created_at`, `updated_at`) VALUES
('1', 'cancha1', 'kicker', '1', '21:00:00', '18', '1', '2026-05-09 00:08:24', '2026-05-09 00:08:24'),
('2', 'cancha2', 'kicker', '5', '22:00:00', '12', '1', '2026-05-09 00:08:24', '2026-05-09 00:08:24');

-- --------------------------------------------------------
-- Table structure for `site_users`
DROP TABLE IF EXISTS `site_users`;
CREATE TABLE `site_users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(80) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `password_needs_reset` tinyint(1) NOT NULL DEFAULT 0,
  `role` enum('usuario','jugador','directivo','admin') NOT NULL DEFAULT 'usuario',
  `player_id` int(10) unsigned DEFAULT NULL,
  `can_vote` tinyint(1) NOT NULL DEFAULT 0,
  `preferred_stats_court_id` int(10) unsigned DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_site_users_username` (`username`),
  UNIQUE KEY `uniq_site_users_player` (`player_id`),
  KEY `idx_site_users_role` (`role`),
  CONSTRAINT `fk_site_users_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Dumping data for `site_users`
INSERT INTO `site_users` (`id`, `username`, `password_hash`, `password_needs_reset`, `role`, `player_id`, `can_vote`, `preferred_stats_court_id`, `active`, `created_at`, `updated_at`) VALUES
('1', 'manuso', '$2y$10$2hZHWzBBPHSE8RAG9BpM3uxve1meuRQVIBUKgGPaviexoHrfc/apm', '0', 'jugador', '11', '0', NULL, '1', '2026-05-09 00:36:12', '2026-05-10 12:39:56');

SET FOREIGN_KEY_CHECKS = 1;
